.contact {
    background-image: url(../img/test.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact_container {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.contact_label {
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 25px;
}
.contact_line {
    margin: 20px 0px 20px 0px;
}
.contact_text {
    padding-bottom: 30px;
    font-size: 14px;
}
.contact_collumn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact_row {
    width: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.contact_icon img{
    max-height: 25px;
}
.contact_p {
    margin-top: 15px;
}
.contact_p p{
    margin-top: 10px;
}
.contact_p a{
    color: #fff;
}
.send_me_text{
    margin-bottom: 40px;
    font-size: 20px;
    text-transform: uppercase;
}
.input_collumn {
    display: flex;
    flex-direction: column;
}
.input_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input_row input{
    width: 48%;
    height: 35px;
    font-size: 16px;
    color: #5d5d5e;
    background-color: #d3d6dd;
}

.text_area textarea{
    width: 100%;
    color: #5d5d5e;
    background-color: #d3d6dd;
    font-size: 16px;
}
.input_message input{
    border: 2px solid white;
    font-size: 16px;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.input_message input:hover{
    transition: 0.3s;
    border: 2px solid rgb(19, 202, 172);
    color: rgb(19, 202, 172);
}
.input_message input:active{
    transition: 0.3s;
    transform: scale(1.1);
}
.contact_li ul{
    padding-bottom: 60px;
}

.contact_li li{
    display: inline;
    margin-right: 50px;
}

.contact_li li:last-child{
    margin-right: 0px;
}

@media (max-width:650px) {
    .contact_text{
        margin: 0px 30px;
    }
    .send_me_text{
        margin: 0px 30px;
    }
}
@media  (max-width:224px){
    .contact_li li{
        margin: 10px;
    }
}
@media  (max-width:385px){
    .contact_li li:nth-child(1){
        margin-left: 25px;
    }
    .contact_li li:nth-child(4){
        margin-right: 25px;
    }
}

@media  (max-width:305px){
    .contact_li li:nth-child(1){
        margin-left: 50px;
        margin-right: 65px;
    }
    .contact_li li:nth-child(4){
        margin-right: 0px;
        margin-right: 50px;
    }
}
@media  (max-width:268px){
    .contact_li li:nth-child(3){
        margin-left: 50px;
        margin-right: 50px;
    }
    .contact_li li:nth-child(1){
        margin-left: 50px;
        margin-right: 60px;
    }
}
