body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.arrow{
    animation-name: roll;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.wrapper {
    height: 100%;
}

.content{
    height: 60px;
    background-color: #344051;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
.row {

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.logo {
    color: white;
    font-size: 22px;
    flex: 0 0 auto;
}
.menu li{
    display: inline;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.menu a{
    color: white;
}

.menu a:hover{
    transition: 0.5s;
    color: orange;
}
.menu a:active{
    display: inline-block;
    transform: scale(0.8);
    transition: 0.3s;
    color: orange;
}

.menu li:last-child{
    margin-right: 0px;
}

.navigate{
    display: none;
}
.navigate_li {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 65px;
}
.navigate_li a{
    padding: 12px 16px;
    display: flex;
    border: 1px solid blue;
    color: white;
    background-color: #344051;
    text-transform: uppercase;
    justify-content: center;
}
.navitage_btn{
    margin-left: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.navitage_btn:hover{
    transition: 0.3s;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 5px;
}
.navigate:hover .navigate_li {
    display: block;
    margin-left: 50px;
    width: 120px;
}
.navigate_li a:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.navigate_li a:active{
    background-color: orange;
    transition: 0.3s;
}


@media (max-width:900px) {
    .menu{
        display: none;
    }
    .navigate{
        display: block;
        background-image: url(../img/icons);
    }
    .row{
        justify-content: space-around;
    }
}
@keyframes roll{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}