.info_about_me {
    display: flex;
    margin: 0 auto;
    background-color: white;
}
.info_container {
    text-align: center;
    margin: 0 auto;
}
.info_title {
    margin-top: 100px;
}
.info_label {
    text-transform: uppercase;
    font-size: 25px;
}
.info_line {
    margin: 20px 0px 50px 0px;
}
.info_image img{
    width: 100%;
    max-width: 200px;
}
.info_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}
.info_text p{
    text-align: left;
    margin-top: 20px;
    max-width: 750px;
}
.info_text p:last-child{
    margin-top: 40px;
    margin-bottom: 30px;
}
.info_button {
    margin-bottom: 100px;
}
.info_button input{
    border: 2px solid #6f707e;
    border-radius: 7px;
    padding: 10px 10px 10px 30px;
    font-size: 14px;
    background: url(../img/icons/infoIconDownload.png)no-repeat 10px 10px;
}